#item-card-container {
  background-color: #FFFFFF; 
  background-image: url('../../images/cool-background.svg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.392) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;  
}

#item-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-left: 0;
  object-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.item-card-description {
  text-align: start;
}

.item-card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.buttons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.item-buttons {
  margin: 1rem 1rem 0 0;
}

.item-card-description {
  text-align: start;
  padding: 1rem 2rem;
}

.item-card-description h2 {
  color: #333; 
  font-size: 1.6rem; 
  font-weight: 400;
  margin-bottom: 0.5rem; 
}

.item-card-description p {
  color: #555; 
  font-size: 1.0rem; 
  margin-bottom: 0.25rem; 
}

.item-card-description .location {
  font-style: italic; 
}


/* .you-sure-modal{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
} */

