#item-card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#item-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-left: 0;
  object-position: center;
}

.item-card-description {
  text-align: start;
}

.item-card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.buttons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.item-buttons {
  margin: 1rem 1rem 0 0;
}

.you-sure-modal{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}