#item-card-container {
  background-color: #FFFFFF; 
  background-image: url('../assets/cool-background.svg'); /* Updated relative path */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.392) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;  
}

#item-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-left: 0;
  object-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.item-card-description {
  text-align: start;
}

.item-card-info {
  background-color: #ffffffb9;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.item-card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.buttons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.item-buttons {
  margin: 1rem 1rem 0 0;
}

.item-card-description {
  text-align: start;
  /* padding: 1rem 2rem; */
}

.item-card-description h2 {
  color: #333; 
  font-size: 1.7rem; 
  font-weight: 400;
  margin-bottom: 0.5rem; 
}

.item-card-description p {
  color: #555; 
  font-size: 1.0rem; 
  margin-bottom: 0.25rem; 
}

.item-card-description .location {
  font-style: italic; 
}
.sticky-note-dropdown {
  background-color: #fffa65; /* Yellow color */
  font-family: 'Comic Sans MS', cursive; /* Stylistic font choice */
  font-size: 0.9rem; /* Adjust as necessary */
  color: #333; /* Text color */
  border: 1px solid #ffd700; /* Border to mimic sticky note edge */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transform: rotate(-3deg); /* Tilted angle */
  border-radius: 4px; /* Slightly rounded corners for a paper-like effect */
  padding: 10px; /* Space inside the sticky note */
  max-height: 300px; /* Maximum height before scrolling */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

#dropdown-container {
  margin-top: 5px;
}