#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 7rem;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('./assets/cool-background.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

header {
  background-image: url('./assets/cool-background-1.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #f5f5f5; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.header-button {
  margin: 0 10px; 
  padding: 5px 15px; 
  border: 1px solid #000000; 
  border-radius: 4px; 
  background-color: rgb(0, 0, 0); 
  cursor: pointer; 
}

.header-right-buttons {
  padding-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

footer p {
  margin: 0;
  color: #888;
}

img {
    position: relative; 
    width: 800px; 
    height: calc(400px); 
    margin: auto;
}